<div ng-controller="IndexController">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <a href="/#!/pedido" class="btn btn-default btn-block">Criar Pedido</a><br/>
        <a href="/#!/estoque" class="btn btn-default btn-block">Gerência de Estoque</a> <br/>
        <a href="/#!/cardapio" class="btn btn-default btn-block">Gerência do Cardapio</a> <br/>
        <a href="/#!/despesa" class="btn btn-default btn-block">Gerência de Despesas</a><br/>
        <!--a href="/#!/pessoas" class="btn btn-default btn-block">Gerência de Pessoas</a></br-->
        <a href="/#!/relatorio" class="btn btn-default btn-block">Relatórios</a><br/>
    </div>
    <div class="col-sm-1"></div>
</div>