<body>

    <div class="container">

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="/#!/cadastroProduto" class="btn btn-default btn-block">Cadastro produto</a> </br>
                <a href="/#!/cadastroCompra" class="btn btn-default btn-block">Cadastro Compra</a> </br>
                <a href="/#!/tabelaProduto" class="btn btn-default btn-block">Visualizar Estoque</a></br>


            </div>
            <div class="col-sm-4"></div>
        </div>
        <!-- row -->

    </div>
</body>