<body ng-controller="CardapioController">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="/#!/cadastroTipoDespesa" class="btn btn-default btn-block">Cadastrar Tipo de Despesa</a> </br>
                <a href="/#!/cadastroDespesa" class="btn btn-default btn-block">Cadastrar Nova Despesa</a> </br>
                <a href="/#!/tabelaDespesa" class="btn btn-default btn-block">Visualizar Despesas</a></br>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</body>