<body ng-controller="EstoqueController">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="/#!/cadastroCompra" class="btn btn-default btn-block">Cadastar Compras</a> </br>
                <a href="/#!/cadastroProduto" class="btn btn-default btn-block">Cadastrar Produto Comuns</a> </br>
                <a href="/#!/cadastroUnidade" class="btn btn-default btn-block">Cadastrar Unidade de Medida</a> </br>

                <a href="/#!/listarCompra" class="btn btn-default btn-block">Listar Compras</a> </br>
                <a href="/#!/listarProduto" class="btn btn-default btn-block">Listar Produtos Comuns Cadastrados</a> </br>
                <a href="/#!/listarUnidade" class="btn btn-default btn-block">Listar Unidade de Medida</a></br>
                <a href="/#!/listarEstoque" class="btn btn-default btn-block">Visualizar Estoque</a></br>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <!-- row -->

    </div>
</body>