<body data-ng-controller="CadastroItensExtraController">
    <div class="container">
        <div class="page-header">
            <h1>{{titulo}}</h1>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <form>
                    <div class="form-group">
                        <label for="nome">Nome</label> <input type="text" class="form-control" id="nome" ng-model="nome">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="nome">Quantidade</label> <input type="number" class="form-control" id="qtd" ng-model="quantidade">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="nome">Unidade de Medida</label> <input type="text" class="form-control" id="unidade" ng-model="unidade">
                    </div>
                    <br>
                    <button type="reset" class="btn btn-primary">
						<span class="glyphicon glyphicon-trash"></span> Limpar
					</button>
                    <button type="submit" class="btn btn-success">
						<span class="glyphicon glyphicon-ok"></span> Salvar
					</button>
                </form>
            </div>
        </div>
    </div>
</body>