<body ng-controller="CardapioController">

    <div class="container">

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="/#!/cardapio/cadastrarItens" class="btn btn-default btn-block">Cadastrar Itens do Cadápio</a> </br>
                <a href="/#!/cardapio/cadastrarExtra" class="btn btn-default btn-block">Cadastrar Itens Extra</a> </br>
                <a href="/#!/cardapio/listar" class="btn btn-default btn-block">Visualizar Cardápio</a></br>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <!-- row -->

    </div>
</body>