<body ng-controller="CardapioController">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <a href="/#!/cardapio/cadastrarItens" class="btn btn-default btn-block btn-primary"> Cadastrar Itens</a><br/>
            <a href="/#!/cardapio/cadastrarExtra" class="btn btn-default btn-block btn-primary">Cadastrar Itens Extras</a>
            <br/>
        </div>
        <div class="col-sm-4">
            <a href="/#!/cardapio/listarItens" class="btn btn-default btn-block btn-info">Visualizar Itens</a><br/>
            <a href="/#!/cardapio/listarExtra" class="btn btn-default btn-block btn-info">Visualizar Itens Extra</a>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <a href="/#!/cardapio/listar" class="btn btn-default btn-block btn-success">Visualizar Cardápio Completo</a><br/>
        </div>
        <div class="col-sm-2"></div>
    </div>
</body>