<body>

    <div class="container">

        <div class="page-header">
            <h1>Logo</h1>
        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a class="btn btn-default btn-block" href="#cadastroProduto">Cadastro produto</a> </br>
                <a href="#cadastroCompra" class="btn btn-default btn-block">Cadastro Compra</a> </br>
                <a href="#tabelaProduto" class="btn btn-default btn-block">Visualizar Estoque</a></br>


            </div>
            <div class="col-sm-4"></div>
        </div>
        <!-- row -->

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>